body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  text-align: center;
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 20px 40px;
  box-sizing: border-box;

  background-color: #6b7280;
  min-height: 100vh;
  color: black;
}

.app.dark {
  background-color: #0f172a;
  color: white;
}

.app.dark h1,
.app.dark h2,
.app.dark h3 {
  color: #f9fafb;
}

.theme-toggle {
  margin-bottom: 15px;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #3b82f6;
  color: white;
}

.search {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

.search input {
  padding: 10px;
  font-size: 16px;
  width: 220px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.search button {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #3b82f6;
  color: white;
}

.weather-grid {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.card {
  width: 130px;
  padding: 15px;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.2s;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: white;
}

.app.dark .card {
  background: #1e293b;
  color: white;
}

.card:hover {
  transform: translateY(-5px);
}

.card.active {
  border: 3px solid #3b82f6;
  transform: scale(1.05);
}

.details-card {
  margin-top: 30px;
  border-radius: 20px;
  padding: 30px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  box-sizing: border-box;
  gap: 20px;

  background: linear-gradient(135deg, #4f6df5, #6b8cff);
  color: white;
}

.app.dark .details-card {
  background: linear-gradient(135deg, #020617, #1e293b);
}

.details-left {
  text-align: left;
}

.details-left h2 {
  margin: 0 0 10px;
}

.big-temp {
  font-size: 48px;
  font-weight: bold;
  margin: 5px 0;
}

.details-left p {
  margin: 0;
  opacity: 0.9;
}

.details-right {
  text-align: right;
}

.big-icon {
  font-size: 60px;
}

.air-info {
  margin-top: 10px;
}